/*   Styling navbar */
#Navstyles {
    background-color: #008080;
    border-bottom: 10px solid orange;
}

#ButtonStyles {
    background-color: orange;
    margin-bottom: 90px;

}

/* editing bootstrap svg to display white menu lines*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}





/*------------------------------------------------------------------------------Nav bar brand styling*/



@media (min-width: 302px) {

    #ButtonStyles {
        margin-bottom: 10px;
    }


    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 25px;
        font-family: Impact, fantasy;
        width: 85%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 30px;
    }
}


/* work on this next to match screenshot of slack*/
@media (min-width: 575px) {

    #ButtonStyles {
        margin-bottom: 10px;
    }

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 31px;
        font-family: Impact, fantasy;
        width: 85%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 30px;
    }
}



@media (min-width: 670px) {

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        width: 85%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 30px;
    }
}



@media (min-width: 752px) {

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        width: 90%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 30px;
    }
}



@media (min-width: 990px) {

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        width: 90%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 350px;
    }
}


/*---------------------------------------------------------------------------- Nav bar links styling*/

@media (min-width: 552px) {

    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -10%;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}



@media (min-width: 752px) {

    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -10%;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}


@media (min-width: 992px) {


    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -400%;
        margin-top: -50px;
        
    }
}


@media (min-width: 1000px) {

    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -400%;
        margin-top: -50px;
        
    }

}


@media (min-width: 1099px) {

    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -380%;
        margin-top: -50px;
        
    }

}


@media (min-width: 1100px) {


    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 35px;
        margin-left: -290%;
        margin-top: -50px;
    }


}


@media (min-width: 1220px) {

    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 35px;
        margin-left: -130%;
        margin-top: -50px;
    }

}


