/*   Styling navbar main */
#Navstyles {
    background-color: #008080;
    border-bottom: 10px solid orange;
}

#ButtonStyles {
    background-color: orange;

}
/* editing bootstrap svg to display white menu lines*/
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/*------------------------------------------------------------------------------Nav bar brand , button , links styling with media queries   */

@media only screen and (min-width: 302px) and (max-width: 349px) {

    .navbar-light .navbar-toggler {
        margin-top: -14px;
        margin-right: -24px;
        font-size: 12px;
        padding-top: 5px;
        padding-left: 8px;
    }



    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 15px;
        font-family: Impact, fantasy;
        width: 75%;
        margin-top: -11px;
        line-height: 100%;
        text-align: center;
        margin-bottom: -13px;
        text-transform: uppercase;
        padding-right: 0px;
        padding-left: 0px;
    }



    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 10px;
        width: 90px;
        height: 5px;
        margin-left: 29%;
        margin-top: 0px;
        padding-bottom: 20px;
    }
}


@media only screen and (min-width: 349px) and (max-width: 415px) {

    .navbar-light .navbar-toggler {
        margin-top: -54px;
        margin-right: -22px;
        font-size: 14px;
        padding-left: 10px;
    }


    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 28px;
        font-family: Impact, fantasy;
        width: 82%;
        margin-top: -9px;
        line-height: 100%;
        text-align: center;
        margin-bottom: -12px;
        text-transform: uppercase;
        padding-right: 0px;
        padding-left: 0px;
    }



    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -10%;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}


@media only screen and (min-width: 415px) and (max-width: 576px) {
    .navbar-light .navbar-toggler {
        margin-top: -52px;
        margin-right: -20px;
    }

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 31px;
        font-family: Impact, fantasy;
        width: 84%;
        margin-top: -9px;
        line-height: 100%;
        text-align: center;
        margin-bottom: -12px;
        text-transform: uppercase;
        padding-right: 0px;
        padding-left: 24px;
    }




    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -10%;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}


@media only screen and (min-width: 576px) and (max-width: 670px) {
    .navbar-light .navbar-toggler {
        margin-top: -25px;
    }

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 31px;
        font-family: Impact, fantasy;
        width: 85%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 0px;
        padding-left: 0px;
    }



    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -10%;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}



@media only screen and (min-width: 670px) and (max-width: 752px) {
    .navbar-light .navbar-toggler {
        margin-top: -30px;
    }

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        width: 85%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 0px;
        padding-left: 36px;
    }



    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -10%;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}


@media only screen and (min-width: 752px) and (max-width: 992px) {
    .navbar-light .navbar-toggler {
        margin-top: -30px;
    }

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        width: 90%;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 0px;
    }




    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -10%;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1060px) {
    .navbar-light .navbar-toggler {
        margin-top: -30px;
    }

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 350px;
    }



    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -390%;
        margin-top: -50px;
    }
}


@media only screen and (min-width: 1060px) and (max-width: 1120px) {


    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 350px;
    }



    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -320%;
        margin-top: -50px;
    }
}


@media only screen and (min-width: 1120px) and (max-width: 1220px) {


    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 350px;
    }



    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 5px;
        margin-left: -255%;
        margin-top: -50px;
    }
}


@media only screen and (min-width: 1220px) {

    #Navstyles > a {
        color: white;
        text-decoration: underline overline;
        font-size: 35px;
        font-family: Impact, fantasy;
        margin-top: 10px;
        line-height: 100%;
        text-align: center;
        margin-bottom: 5px;
        text-transform: uppercase;
        padding-right: 350px;
    }


    #Navilinks ul li a {
        display: block;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 15px;
        width: 90px;
        height: 35px;
        margin-left: -155%;
        margin-top: -50px;
    }
}



/* will need padding to show content due to bootstraps nav bar blocking - see bootstrap documentation*/
main {

    padding-top: 121px;

}

.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
}


/*video  adjusted the css  */

#video-container {
	position: absolute;
	z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
	background-position: 50% 50%;
    background-image: none;
}
     

video {
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
        max-width: 0%;
        max-height: 149%;
/*	width: 100%;
	height: auto; */
}




